@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.navContainer {
    background-color: darkslategray;
    display: flex;
}

.title {
    color: whitesmoke;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}

#logo {
    max-width: 50%;
    max-height: 50%;
}